<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RTL.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value>C:/Logs</value>
            </setting>
            <setting name="ReportFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RtlSwProfilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RtlPoeProfilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ComSW" serializeAs="String">
                <value />
            </setting>
            <setting name="DutSW" serializeAs="String">
                <value />
            </setting>
            <setting name="FlashProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FlashFirmwarePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SwdProgramPath" serializeAs="String">
                <value />
            </setting>
        </RTL.Properties.Settings>
    </userSettings>
</configuration>